/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
    background: linear-gradient(rgb(255, 255, 255), rgb(150, 150, 150));
    min-height: 830px;
}

body {
  font-family: montserrat, arial, verdana;
}

/*headings*/
h1 {
    margin: auto;
    text-transform: uppercase;
    color: #2C3E50;
    width: fit-content;
}