.list-container {
    max-width: 500px;
    margin: 10px;
    border-style: solid;
    border-color: grey;
    border-radius: 5px;
    padding: 10px;

    h1 {

    }

    form {

    }

    .list-produits {
        list-style: none;
        padding: inherit;
        div {

            border: 1px solid black;
            border-radius: 5px;
            margin: 2px 0px 2px 0px;
            display: flex;
            justify-content: space-between;


            li {
                margin: 2px;
            }

            button {
                position: relative;
                right: 0px;
                background: red;
                color: white;
                font-weight: bold;
                border-radius: 5px;
            }
        }


    }

}