.list-produits {
    list-style: none;
    li {
        margin: 1px;
        border-style: solid;
        border-radius: 5px;
        max-width: 500px;

    }
}

.list-container {
    max-width: 500px;
    margin: 10px;
}